### 1. Measure the performance of loading the assignment page.

http_reqs: 250   24.122367/s
http_req_duration - median: 288.43ms
http_req_duration - 99th percentile: 2.94s

### 2. Measure the performance of submitting assignments.

http_reqs: 3506  350.080432/s
http_req_duration - median: 22.86ms
http_req_duration - 99th percentile: 81.9ms