
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Programming assignments</title>
  </head>
  <body>
    <div class="mx-auto h-screen text-center bg-[#1A1A1A] text-white">
      <slot />
    </div>
  </body>
</html>
